/* $mobile: 320px;
$tablet: 768px;
$desktop: 1280px; */
/* @media (min-width: 768px) {}
  @media (min-width: 1158px) {} */

:root {
  --background-color: #f4f4f4;
  --text-color: #000;
  --header-text-color: #fff;
  --accent-color: #ff6b01;
  --button-hover: #be3017;
  --button-hover2: #f7b844;
  --button-click: #ff6b01;
  --header-background-color: #333;
  --link-color: #8c8c8c;
  --movie-item-background-color: #fff;
  --border-color: #ddd;
  --footer-background-color: #333;
  --footer-text-color: #545454;
  --time: 250ms;
  --function-animate: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --accent-color: #ff6b01;
  --header-background-color: #1e1e1e;
  --header-text-color: #e0e0e0;
  --link-color: #8c8c8c;
  --movie-item-background-color: #1e1e1e;
  --border-color: #333;
  --footer-background-color: #1e1e1e;
  --footer-text-color: #545454;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  font-size: 12px;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
/* -------------------------header styles------------------------- */
.absolute {
  position: relative;
  max-width: 1216px;
  margin: auto;
  margin-top: 10px;
}

.hero-carousel {
  position: absolute;
  width: 100%;
}

.hero-carousel-item {
  display: none;
}
.hero-carousel-item img {
  width: 100%;
  height: auto;
}

.hero-carousel-item:first-of-type {
  display: block;
  border-radius: 15px;
}

.hero-overlay {
  position: relative;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 316px;
}

/* .header__title {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
} */

.search-form__input {
  max-width: 320px;
  color: var(--text-color);
  /* border: none;
  border-bottom: 0.5px solid var(--header-text-color);
  background: 0 0; */
  /* outline: none; */
  font-size: 12px;
  /* line-height: 1.14; */

  padding: 14px 24px;
  border-radius: 5px;
  border: none;
  background: #fff;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
}
.search-form {
  display: flex;
  align-items: center;
}
.svg-search {
  position: relative;
  right: 35px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 8px;
  align-items: center;
  line-height: 1.5;
}

.logo__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
}

.logo__header-icon {
  rotate: 0deg;
  fill: transparent;
  stroke: currentColor;
  width: 59px;
  height: 59px;
  transition: stroke var(--time) var(--function-animate),
    rotate var(--time) var(--function-animate);

  .logo__link:hover &,
  .logo__link:focus & {
    rotate: 180deg;
    fill: transparent;
    stroke: var(--accent-color);
  }
}

.logo__title {
  font-family: "Roboto";
  display: inline-block;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  margin-left: 8px;
  color: #fff;

  @media (min-width: 768px) {
    font-family: "Roboto";
    display: inline-block;
    font-weight: 500;
    line-height: 1.17;
    margin-left: 8px;
    color: #fff;
    font-size: 40px;
  }

  @media (min-width: 1158px) {
    margin-left: 10px;
    font-size: 64px;
  }
}
a {
  text-decoration: none;
  color: #000;
}

#home-link,
#library-link {
  padding: 14px 24px;
  border-radius: 5px;
  border: none;
  background: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

#home-link:hover,
#library-link:hover {
  background-color: var(--accent-color);
}

/* -------------------------------------------------------------------------- */
#main-content {
  padding: 20px;
}

#movie-list {
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; */

  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 618px;
  margin: auto;
  display: grid;
  /* padding: 60px auto; */
  justify-content: center;
  position: relative;
}

.movie-item {
  background-color: var(--movie-item-background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  overflow: hidden;
  width: 300px;
  cursor: pointer;
  padding: 5px;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);

  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.movie-item.photo {
  position: relative;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  overflow: hidden;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.movie-item.photo img {
  width: 100%;
  height: auto;
  object-fit: cover;

  /* display: block; */
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.movie-item.photo:hover {
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
}

.movie-item.photo .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.movie-item.photo .glow {
  display: block;
  position: absolute;
  width: 40%;
  height: 200%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.movie-item.photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.movie-item.photo:hover img,
.movie-item.photo:hover .glow-wrap {
  margin-top: 0;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.movie-item h3 {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.movie-item p {
  color: var(--accent-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
}

.movie-item button {
  display: none;
}

.hidden {
  display: none;
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 10px;
  text-align: center;
}
.footer-text,
.footer-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: none;
  color: white;
}
.footer-item:hover,
.footer-item:focus {
  cursor: pointer;
  color: var(--accent-color);
}

/* Toggle switch styling */
.switch {
  position: absolute;
  right: 30px;
  display: inline-block;
  width: 34px;
  height: 20px;
  /* border: 3px solid var(--accent-color); */
  border-radius: 15px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--header-text-color);
}

input:checked + .slider:before {
  transform: translateX(14px);
}
/* moovie details  */
/* ------------------------------------------------------------------------------------------------ */

.modal-container {
  display: flex;
  gap: 16px;
}

#movie-details {
  background-color: var(--movie-item-background-color);
  border: 1px solid var(--border-color);
  padding: 40px 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  width: 806px;
  height: 558px;
}

#movie-details img {
  width: 375px;
  height: 478px;
  border-radius: 5px;
}
#movie-details h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
/* ------------------------------------------------------------------------------------------------ */
.modal-side-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.list-div {
  display: flex;
  gap: 83px;
}
#movie-details h4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 133.333%;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.side-info-about p {
  font-size: 12px;
  font-weight: 500;
  line-height: 166.667%;
}
.left-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #8c8c8c;
  font-size: 12px;
  font-weight: 500;
  line-height: 133.333%;
}
.right-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 133.333%;
}

.vote-average {
  background-color: var(--accent-color);
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  /* color: white; */
}

/* ------------------------------------------------------------------------------------------------ */
#movie-details button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
}

#movie-details button:hover {
  background-color: var(--accent-color);
}

#movie-details .button-group {
  display: flex;
  justify-content: space-between;
}

#movie-details .button-group button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* upward button  */

.upward {
  position: fixed;
  bottom: 700px;
  right: 20px;
  width: 45px;
  height: 45px;
  background: url(./images/up-btn.png);
  background-size: cover;
  z-index: 50;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border: none;
  @media screen and (min-width: 768px) {
    right: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 50px;
    height: 50px;
  }
}

.upward.active {
  bottom: 25px;
  visibility: visible;
  opacity: 1;
  /* animation: var(--function-animate); */
}
#movie-details .button-group .add-to-watched {
  background-color: var(--accent-color);
  color: white;
}

#movie-details .button-group .add-to-queue {
  background-color: white;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

#movie-details .button-group .add-to-watched,
#movie-details .button-group .add-to-queue {
  transition: background-color 0.5s;
  /* transition: color 0.5s; */
}

#movie-details .button-group .add-to-watched:hover {
  background-color: var(--button-hover);
  /* color:var(--accent-color); */
}
#movie-details .button-group .add-to-queue:hover {
  background-color: var(--button-hover2);
  border: 1px solid var(--button-hover);
  /* color:#FFF; */
}

#movie-details .button-group .add-to-watched:active {
  background-color: var(--button-click);
  /* color:var(--accent-color); */
}
#movie-details .button-group .add-to-queue:active {
  background-color: var(--button-click);
  border: 1px solid var(--button-hover);
  color: #fff;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* --------------------------pagination------------------------------------- */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination-item {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 12px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-item:hover {
  background-color: darken(var(--accent-color), 10%);
  /* border: 1px solid var(--accent-color); */
  color: blue;
}

.pagination-item.active {
  background-color: darken(var(--accent-color), 20%);
  color: blue;
  font-weight: bold;
}

#pagination span {
  display: inline-block;
  padding: 10px;
  cursor: default;
}

.pagination-item.prev,
.pagination-item.next {
  font-weight: bold;
}
/* ------------------------------------------------------------------------------- */

/* ===================    LIBRARY    ====================== */

#library-content {
  padding: 20px;
}

#library-movie-list {
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 618px;
  margin: auto;
  display: grid;
  justify-content: center;
  position: relative;
}

/* .library-content {
  width: auto;
  flex-direction: row;
} */

.library-link__btn {
  padding: 14px 24px;
  border-radius: 5px;
  border: none;
  background: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.5s;
}
.home-link__btn:hover,
.library-link__btn:hover {
  background: var(--accent-color);
  cursor: pointer;
  scale: 1.1;
}
.library-content__buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
  padding-top: 15px;
}

/* ================()******modal team***********()============= */
/* Stilizare pentru modal */
/* .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
} */
.modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  opacity: 1;
  visibility: none;
  overflow: hidden;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.modal-content {
  background-color: #3b3a3a;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("./images/header-bg-library-desk2@x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 80%;
  max-height: 80%;
  margin: 10px auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: auto;
}
.close {
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  fill: #ffffff;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  scale: 1.1;
}

/* ==========card style========= */
.team-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.team-item {
  display: flex;
  padding: 10px;
  gap: 10px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(29, 29, 29, 0.7);
  /* only screen and (max-width: 767px) {
  flex-direction: column;
  align-items: center;
}
only screen and (min-width: 768px) {
  width: calc((100% - 20px) / 2);
}
only screen and(min-width: 1158px) {
 
}*/
  width: calc((100% - 30px) / 3);
}

.team-title {
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  padding-bottom: 30px;
}

.team-img {
  width: 45%;
}
.team-block {
  display: flex;
  flex-direction: column;
  max-width: 55%;
  gap: 15px;
}
.team-name {
  color: #fff;

  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.17;
}
.team-position {
  color: var(--accent-color);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
}
.team-functional {
  color: rgb(240, 240, 240);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
}

/* .card__face--back {
  background-image: url("/images/madalina.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* Card rotation */

.card-team {
  width: 200px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.card__face--front,
.card__face--back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card__face--front {
  background-color: #fff;
}

.card__face--back {
  background-color: #bdbdbd;
  transform: rotateY(180deg);
}

.card-team:hover .card__face--front {
  transform: rotateY(180deg);
}

.card-team:hover .card__face--back {
  transform: rotateY(360deg);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(125, 125, 125, 0.2);
  color: var(--background-color);
  transition: color var(--time), var(--function-animate),
    background-color var(--time) var(--function-animate);
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--header-text-color);
}
.social-list__icon:hover,
.social-list__icont:focus {
  fill: var(--accent-color);
}
.social-list__item {
  width: 44px;
  height: 44px;
}
.card-front1 {
  background-image: url("./images/stefan.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-front2 {
  background-image: url("./images/sara.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.card-front3 {
  background-image: url("./images/richard.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-front4 {
  background-image: url("./images/cezara.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-front5 {
  background-image: url("./images/madalina.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
/* end modal team */
/* ---- remove button */

.movie-item:hover .remove-from-library {
  display: block;
}

.remove-from-library {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-from-library:hover {
  background-color: var(--button-hover);
}
