:root {
  --background-color: #f4f4f4;
  --text-color: #000;
  --header-text-color: #fff;
  --accent-color: #ff6b01;
  --button-hover: #be3017;
  --button-hover2: #f7b844;
  --button-click: #ff6b01;
  --header-background-color: #333;
  --link-color: #8c8c8c;
  --movie-item-background-color: #fff;
  --border-color: #ddd;
  --footer-background-color: #333;
  --footer-text-color: #545454;
  --time: 250ms;
  --function-animate: cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body.dark-mode {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --accent-color: #ff6b01;
  --header-background-color: #1e1e1e;
  --header-text-color: #e0e0e0;
  --link-color: #8c8c8c;
  --movie-item-background-color: #1e1e1e;
  --border-color: #333;
  --footer-background-color: #1e1e1e;
  --footer-text-color: #545454;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
/* -------------------------header styles------------------------- */
.absolute {
  position: relative;
  max-width: 1216px;
  margin: auto;
}

.hero-carousel {
position: absolute;
}

.hero-carousel-item {
display: none; 
}

.hero-carousel-item:first-of-type {
display: block; 
border-radius: 15px;
}

.hero-overlay {
position: relative;
padding: 16px 32px;
display: flex;
flex-direction: column;
justify-content: space-between;
height:316px;
}

.header__title {
  color: #FFF;
  font-size: 64px;
  font-weight: 500;
}

.search-form__input {
  min-width: 280px;
  color: var(--header-text-color);
  border: none;
  border-bottom: 0.5px solid var(--header-text-color);
  background: 0 0;
  outline: none;
  font-size: 14px;
  line-height: 1.14;
}

.nav {
  display: flex;
  gap: 8px;
}

a {
  text-decoration: none;
  color: #000;
}


#home-link,
#library-link
{
  padding: 14px 24px;
  border-radius: 100px;
  border: none;
  background: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background-color 0.5s;
}

#home-link:hover,
#library-link:hover {
  background-color: #c9bfbb;
}


/* -------------------------------------------------------------------------- */
#main-content {
  padding: 20px;
}

#movie-list {
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; */

  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 618px;
  margin: auto;
  display: grid;
  /* padding: 60px auto; */
  justify-content: center;
  position: relative;
}

.movie-item {
  background-color: var(--movie-item-background-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
  width: 200px;
  text-align: center;
}

.movie-item img {
  width: 100%;
}

.movie-item h3 {
  margin: 10px 0;
}

.movie-item p {
  margin: 0 0 10px 0;
}

.movie-item button {
  display: none;
}

.hidden {
  display: none;
}

footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  padding: 10px;
  text-align: center;
}

/* Toggle switch styling */
.switch {
  position: absolute;
  top: 270px;
  right: 30px;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--link-color);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--border-color);
}

input:checked + .slider:before {
  transform: translateX(14px);
}
/* moovie details  */
/* ------------------------------------------------------------------------------------------------ */

.modal-container {
  display: flex;
  gap: 16px;
}


#movie-details {
  background-color: var(--movie-item-background-color);
  border: 1px solid var(--border-color);
  padding: 40px 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  width: 806px;
  height: 558px;

}

#movie-details img {
  width: 375px;
  height: 478px;
  border-radius: 5px;
}
#movie-details h2 {
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
/* ------------------------------------------------------------------------------------------------ */
.modal-side-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

}
.list-div {
  display: flex;
  gap: 83px;
}
#movie-details h4 {
  font-size: 12px;
font-weight: 500;
line-height: 133.333%;
text-transform: uppercase;
padding-bottom: 8px;
}
.side-info-about p {
font-size: 12px;
font-weight: 500;
line-height: 166.667%;
}
.left-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
color: #8C8C8C;
font-size: 12px;
font-weight: 500;
line-height: 133.333%;

}
.right-list{
  display: flex;
  flex-direction: column;
  gap: 8px;
font-size: 12px;
font-weight: 500;
line-height: 133.333%;
}

.vote-average {
  background-color: var(--accent-color);
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
  /* color: white; */
}

/* ------------------------------------------------------------------------------------------------ */
#movie-details button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
}

#movie-details button:hover {
  background-color: var(--accent-color);
}

#movie-details .button-group {
  display: flex;
  justify-content: space-between;
}

#movie-details .button-group button {
  flex: 1;
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* upward button  */

.upward {
  position: fixed;
  bottom: 700px;
  right: 20px;
  width: 45px;
  height: 45px;
  background: url(./images/up-btn.png);
  background-size: cover;
  z-index: 50;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  border: none;
  /* @media screen and (min-width: 768px) {
    right: 40px;
  }

  @media screen and (min-width: 1280 px) {
    width: 50px;
    height: 50px;
  } */
}

.upward.active {
  bottom: 25px;
  visibility: visible;
  opacity: 1;
  /* animation: var(--function-animate); */
}
#movie-details .button-group .add-to-watched {
  background-color: var(--accent-color);
  color: white;
}

#movie-details .button-group .add-to-queue {
  background-color: white;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

#movie-details .button-group .add-to-watched,
#movie-details .button-group .add-to-queue {
  transition: background-color 0.5s;
  /* transition: color 0.5s; */
}

#movie-details .button-group .add-to-watched:hover {
  background-color:var(--button-hover);
  /* color:var(--accent-color); */
}
#movie-details .button-group .add-to-queue:hover {
  background-color:var(--button-hover2);
  border: 1px solid var(--button-hover);
  /* color:#FFF; */
}

#movie-details .button-group .add-to-watched:active {
  background-color:var(--button-click);
  /* color:var(--accent-color); */
}
#movie-details .button-group .add-to-queue:active {
  background-color:var(--button-click);
  border: 1px solid var(--button-hover);
  color:#FFF;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* --------------------------pagination------------------------------------- */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination-item {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 12px;
  background-color: var(--accent-color);
  color: white;
  border: none;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-item:hover {
  background-color: darken(var(--accent-color), 10%);
  /* border: 1px solid var(--accent-color); */
  color: blue;
}

.pagination-item.active {
  background-color: darken(var(--accent-color), 20%);
  color: blue;
  font-weight: bold;
}

#pagination span {
  display: inline-block;
  padding: 10px;
  cursor: default;
}

.pagination-item.prev,
.pagination-item.next {
  font-weight: bold;
}
/* ------------------------------------------------------------------------------- */

/* ===================    LIBRARY    ====================== */

#library-content {
  padding: 20px;
}

#library-movie-list {
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  max-width: 618px;
  margin: auto;
  display: grid;
  /* padding: 60px auto; */
  justify-content: center;
  position: relative;
}