/* *******************************************Responsive doamne-ajuta************************************************************** */
/* TABLET */
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .absolute {
    width: 768px;
    margin-top: 10px;
  }
  .hero-carousel {
    position: absolute;
    width: 100%;
  }
  .hero-carousel-item {
    width: 100%;
  }
  .hero-overlay {
    padding: 16px;
    height: 199px;
  }
  #movie-list {
    grid-gap: 15px;
  }
  #library-movie-list {
    grid-gap: 15px;
  }
  .movie-item {
    width: 240px;
  }
  #home-link,
  #library-link {
    padding: 10px;
  }
  .search-form__input {
    padding: 10px;
  }
  .logo__header-icon {
    width: 40px;
    height: 40px;
  }
  /* modal team */

  .modal-content {
    width: auto;
  }

  .team-item {
    width: calc((100% -20px) / 3);
    display: flex;
    padding: 10px;
    gap: 10px;
    width: 100%;
  }
}
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .team-item {
    flex-direction: column;
    align-items: center;
    width: calc(100% / 1);
  }
}
