/* *******************************************Responsive doamne-ajuta************************************************************** */
/* TABLET */
@media screen and (max-width: 1199px) and (min-width: 768px) {
  .absolute {
    width: 768px;
    margin-top: 10px;
  }
  .hero-carousel {
    position: absolute;
    width: 100%;
  }
  .hero-carousel-item {
    width: 100%;
  }
  .hero-overlay {
    padding: 16px;
    height: 199px;
  }
  #movie-list {
    grid-gap: 15px;
  }
  #library-movie-list {
    grid-gap: 15px;
  }
  .movie-item {
    width: 240px;
  }
  #home-link,
  #library-link {
    padding: 10px;
    font-size: 10px;
  }
  .search-form__input {
    padding: 10px;
    font-size: 10px;
  }
  .logo__header-icon {
    width: 40px;
    height: 40px;
  }

  #movie-details {
    width: 704px;
    height: 552px;
    padding: 40px 36px;
  }
  #movie-details img {
    width: 264px;
    height: 373px;
  }

  #movie-details h2 {
    font-size: 20px;
  }

  .no-movies {
    margin-bottom: 531px;
  }
}
